<form method="post" action="/new">
  <h1>Message Input</h1>

  <label for="name">Name:</label>
  <input id="name" name="name" type="text" />

  <label for="message">Message: </label>
  <input id="message" name="message" type="text" />

  <button type="submit">Submit</button>
</form>
